<template>
  <div class="modals">
    <div class="row">
      <div class="flex xs12">
        <va-card class="modals-list larger-padding">
          <form>
          <div class="row">
            <div class="flex md6">
              <div class="row">
                <div class="flex md3 xs12">
                  <label>Id Capaña
                  </label>
                </div>
                <div class="md9 xs12">
                  <va-input v-model="form.campana_id" readonly="readonly"/>
                </div>
              </div>
              <div class="row">
                <div class="flex md3 xs12">
                  <label>Campaña
                  </label>
                </div>
                <div class="md9 xs12">
                  <va-input v-model="campana" id="campana" readonly="readonly"/>
                </div>
                <div>
                  <va-button color="info" v-if="validation()" @click="showMediumModal = true" icon="fa fa-edit"></va-button>                  
                </div>
              </div> 
              <div class="row">
                <div class="flex md3 xs12">
                  <label>Cliente
                  </label>
                </div>
                <div class="md2 xs12">
                  <va-input v-model="cliente" readonly="readonly"/>
                </div>
              </div>
              <div class="row row-inside">
                <div class="flex md3 xs12">
                  <label>Director
                  </label>
                </div>
                <div class="md6 xs12">
                  <va-input v-model="director"/>
                </div>
                <div>
                  <va-button color="info" v-if="validation()" @click="showMediumModal2 = true" icon="fa fa-edit"></va-button>                  
                </div>
              </div>          
          </div>
          <div class="flex md6">
            <div class="root flex md 12 xs12">
              <div class="container2">
                <ul class="progressbar">
                  <li class="active">Creado</li>
                  <li>En proceso</li>
                  <li>Terminado</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
               <div class="md6 sm12">
                  <div class="grid row">
                    <label class="flex md4 sm6">Fecha Inicial:</label>
                    <div class="flex md7 sm6">
                      <va-date-picker
                        v-model="datepicker.simple"
                      />
                    </div>
                  </div>
                </div>
                <div class="md6 sm12">
                  <div class="grid row">
                    <label class="flex md4 s6">Fecha Final:</label>
                    <div class="flex md8 sm6">
                      <va-date-picker
                        v-model="datepicker.simple2"
                      />
                    </div>
                  </div>
                </div>
                <div class="md6 sm12" v-if="validation()">
                  <div class="grid row">
                    <label class="flex md5 sm6">Margen:</label>
                    <div class="flex md6 sm6">
                      <va-input type="number"
                      v-model="margen"/>
                    </div>
                  </div>
                </div>
                <div class="md6 sm12" v-if="validation()">
                  <div class="grid row">
                    <label class="flex md4 sm6">Utilidad:</label>
                    <div class="flex md8 sm6">
                      <va-input v-model="utilidad"
                        type="number"/>
                    </div>
                  </div>
                </div>

            </div>
            <div class="flex md12 align-right">
              <va-button v-if="validation()" color="info" @click="ingresar" type="button" >Insertar</va-button>
              <va-button v-else color="info"  :to="{ name: 'form-asistencia' }"> {{ $t('Asistencia') }}</va-button>
                
            </div>
          </form>
        </va-card>
      </div>
    </div>
    
    <Pagination3 :uri="uri" :columns="fields">  
      <template v-slot:pagination_actions="{ item }">
                  <va-button :to="{ name: 'settingDirector',params:{campanna:item.id} }" flat color="info" icon="fa fa-cog" ></va-button>
            </template>        
    <template slot="pagination_buttons"></template>
  </Pagination3>
  
    <va-modal
      v-model="showMediumModal"
      :title=" $t('Campaña') ">
         
        <Pagination :actions="false" :uri="uri2" :columns="field2"> 
        </Pagination>

    </va-modal>
    <va-modal
      v-model="showMediumModal2"
      :title=" $t('Director') ">
      
        <Pagination :actions="false" :uri="uri" :columns="fields"> 
        </Pagination>

    </va-modal>
  </div>
  
</template>

<script>
import CountriesList from '../../../data/CountriesList'
import Pagination from '@/components/Pagination2'
import Pagination3 from '@/components/Pagination3'

export default {
  name: 'modals',
  components:{
      Pagination,
      Pagination3
  },
  data () {
    return {
      form:{
        campana_id:null
      },
      uri:'gerente-campaigns/1',
      fields : [
        {      
          field: 'id',
          label: 'ID'
        },
        {
          field: 'campaign_id',
          label: 'Nombre'
        },
        {
          field: 'fecha_inicio',
          label: 'Fecha Inicio'
        },
        {
          field: 'fecha_fin',
          label: 'Fecha Final'
        },
      ],
      uri2:'campaigns',
      field2 : [
        {      
          field: 'id',
          label: 'ID'
        },
        {
          field: 'nombre',
          label: 'Nombre',
          render:(data,row) => {
            return '<a style="cursor:pointer">'+row.nombre+'</a>'
          },
          action:(data) => { 
            this.colocar(data.id)

            this.showMediumModal = false
          }
        },
      ],
      results: [],
      show: true,
      idcampana:"",
      campana:"",
      cliente:"",
      director:"",
      margen:"",
      utilidad:"",
      showSmallModal: false,
      showMediumModal2: false,
      showMediumModal: false,
      
      datepicker: {
        simple: '2019-10-01',
        simple2: '2019-10-31'
      },
    }
  },
  created(){
    this.getResults()
  },
  methods: {
    deleteItem(id){
      alert(id)
    },
    gret: function (event) {
      alert('Hello ' + this.datepicker.simple + '!')
      document.getElementById("campana").value="pruebas que paso";
    },
    cajatext(){
       document.getElementById("idcampana").value="pruebas que paso";
    },
    getStarMessage (user) {
      const actionName = user.starred ? this.$t('tables.unstar') : this.$t('tables.star')
      return `${actionName} ${user.fullName}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
    colocar(id){
      this.loading = true
            let url = `campaigns/`+id
            let self = this
            axios
            .get(url)
            .then((res) => {                    
                    self.form.campana_id  = res.data.data.id
                    self.campana=res.data.data.nombre;

                    let url2 = `customers/`+res.data.data.customer_id
                    axios
                    .get(url2)
                    .then((res2) => {
                      self.cliente=res2.data.data.nombre;
                    })
                    .catch((err2) => {
                            console.log(err2)

                            this.loading = false
                    })
                    self.loading = false
            })
            .catch((err) => {
                    console.log(err)

                    this.loading = false
            })
    },
    clear (field) {
      this[field] = ''
    },
    validation(){
      //console.log("que paso");
      //console.log(sessionStorage.getItem('_current_user_rol'));
      let role=sessionStorage.getItem('_current_user_rol')
      if(role==='Administrator'){
        //console.log("true");
        return true;
        
      }else{
        //console.log("false");
        return false;
        
      }
    },
    usersLogin(){
      let id=sessionStorage.getItem('_current_user_id')
        return id
    },
    ingresar(){

        let url = 'confcampaigns'
        
        let toInsert = {
            estado: 1,
            gerente_id: 1,
            director_id:1,
            campaign_id:this.form.campana_id,
            //director:this.director,
            fecha_inicio:this.datepicker.simple,
            fecha_fin:this.datepicker.simple2,          
            margen:this.margen,
            utilidad:this.utilidad
        }

        console.log(toInsert )

        axios.post(url,toInsert).then((res)=> {
            console.log(res)
        })
    },
    getResults(){

        this.loading = true
        let url = `gerente-campaigns/1`
            
        axios
        .get(url)
        .then((res) => {

                //console.log(res.data.data[0])

                let results = res.data.data

                this.results = results.map((item) => {
                    return item.name
                })
                console.log(results)
                this.pagination = res.data.pagination

                this.loading = false
        })
        .catch((err) => {
                console.log(err)

                this.loading = false
        })
    },
  },/*
  created () {
    this.$nextTick(() => {
      this.$validator.validateAll()
    })
  },*/
}
</script>


  




<style scoped>
  .row.row-inside {
    max-width: none;
  }
  .container2{
    width: 100%;
    position:relative;
    z-index: 1;
    margin-top: 0px;
  }
  .progressbar{
    counter-reset: step;
  }
  .progressbar li{
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
  }

  .progressbar li:before{
    content:"\02713";
    /*counter-increment: step;*/
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;
  }
  .progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li.active:before{
 border-color: #3aac5d;
 background: #3aac5d;
 color: white
}
.progressbar li.active:after{
 background: #3aac5d;
}
.progressbar li.active li:after{
 background: #3aac5d;
}
.progressbar li.active li:before{
border-color: #3aac5d;
background: #3aac5d;
color: white
}
.progressbar li:first-child:after{
 content: none;
}
</style>
