<template>
  <va-card :title="$t('Asistencias')">
    <div class="row">
      <div class="flex md2 xs12">
        <va-label>Fecha
        </va-label>
      </div>
      <div class="md2 xs12">
        <va-date-picker v-model="datepicker.simple"

        />
      </div>
    </div>
    <Pagination :action="false" :uri="uri" :columns="fields">  
                  
    <template slot="pagination_buttons"></template>
  </Pagination>
    
  </va-card>
</template>

<script>
import users from '../../../data/users.json'
import Pagination from '@/components/Pagination2'

export default {
  components:{
      Pagination
  },
  props:{
      campanna:{
        type:Number,
        required:true
      }
    },
  data () {
    var f=new Date();
    var fecha=f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
    return {
      users: users.slice(),
      datepicker: {
        simple: fecha,
      },
      uri:'hierarchies-sub/4',
      fields : [
        {      
          field: 'id',
          label: 'ID',
          width: '10%'
        },
        {
          field: 'subordinado.name',
          label: 'Nombre',
          width: '40%'
        },
        {
          field: 'horas',
          label: 'Horas',
          width: '10%',
          render:(data,row) => {
            return '<input value="8" class="control"></input>'
          }
        },
        {
          field: '',
          label: 'Campaña',
          width: '30%',
          render:(data,row) => {
            console.log(row.length);
            let campanas = [
              {id:1,name:'Consumo'},
              {id:2,name:'TDC'}
            ]

            let select = campanas.map((item) => {
                return '<option value='+item.id+'>'+item.name+'</option>'
            })
            return '<select>'+select+'</select>'

          }
        },
        {
          field:'',
          label: 'Asistencia',
          width: '10%',
          render:(data,row)=>{
            return '<input type="checkbox" id="cbox1" value="'+row.subordinado.id+'">'
          }

        }
      ]
    }
  },

  computed: {
    fields () {
      return [{
        name: 'firstName',
        title: this.$t('Nombres'),
        width: '30%',
      }, {
        name: 'email',
        title: this.$t('Apellidos'),
        sortField: 'apellido',
        width: '25%',
      },{
        name: '__slot:hora',
        title: this.$t('Int. Horas'),
        sortField: 'hora',
        width: '25%',
      },{
        name: '__slot:select',
        title: this.$t('Campaña'),
        sortField: 'campana',
        width: '25%',
      },{
        name: '__slot:checked',
        dataClass: 'text-right',
        sortField: 'asistencia',
      }]
    },
  },
  methods: {
    getStarMessage (user) {
      return `${user.starred}`
    },
    getHoras (user) {
      return `${user.hora}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
    getHourSelected() {
      let url = `profiles` 
      axios.get(url).then((respArrayProfile) => {
        let resultDataProfile = respArrayProfile.data['data'].horas
        this.profile = resultDataProfile
      })
      .catch((err) => {
        console.log(err)
      })
    },
    ingresar(){
      let url = 'assistances'
      let toInsert = {
        fecha:this.datepicker.simple,
        estado:1,
        campaign:1,
        tmk_id:8
      }
       console.log(toInsert )
       axios.post(url,toInsert).then((res)=> {
            console.log(res)
       })
    },
  },
}
</script>

<style lang="scss">
</style>

