<template>
  <div class="charts">
    <div class="row">
      <div class="flex xs12">
        <va-card :title="$t('Usuarios')">

          <Pagination :uri="uri" :columns="fields">          

            
            <!--
            <template v-slot:pagination_actions="{ item }">
                  <va-button flat color="danger" icon="fa fa-trash" @click="deleteItem(item.name)"></va-button>
            </template>
            -->

        
            <template slot="pagination_buttons">
                  <va-button :to="{ name: 'addUser' }" color="info" icon="entypo-user-add"> Agregar usuario</va-button>        
            </template>
          </Pagination>

        </va-card>
      </div>
    </div>
  </div>
</template>

<script>

import Pagination from '@/components/Pagination2'

export default {
  components:{
      Pagination
  },
  data () {
    return {
      uri:'/users',
      fields : [
        {      
          field: 'id',
          label: 'ID'
        },
        {
          field: 'name',
          label: 'Nombre'
        },
        {
          field: 'email',
          label: 'Correo'          
        }
      ]
    }
  },
  methods: {
    deleteItem(id){
      alert(id)
    },
    getStarMessage (user) {
      const actionName = user.starred ? this.$t('tables.unstar') : this.$t('tables.star')
      return `${actionName} ${user.fullName}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
  },
}
</script>

<style lang="scss">
.chart-widget {
  .va-card__body {
    height: 550px;
  }
}
</style>