<template>
  <div class="charts">
    <div class="row">
      <div class="flex xs12">
        <va-card :title="$t('roles')">
                    
         <Pagination :uri="uri" :columns="fields">          

            
            <!--
            <template v-slot:pagination_actions="{ item }">
                  <va-button flat color="danger" icon="fa fa-trash" @click="deleteItem(item.name)"></va-button>
            </template>
            -->

        
            <template slot="pagination_buttons">
                  <va-button :to="{ name: 'addRoles' }" color="info" icon="entypo-user-add"> Agregar roles</va-button>
                     
            </template>
          </Pagination>
          
        </va-card>
      </div>
    </div>
  </div>
</template>

<script>
import users from '../../../data/users.json'
import Pagination from '@/components/Pagination2'

export default {
  components:{
      Pagination
  },
  data () {
    return {
      users: users.slice(),
      uri:'roles',
      fields : [
        {      
          field: 'id',
          label: 'ID'
        },
        {
          field: 'name',
          label: 'Nombre'
        }
      ]
    }
  },
  computed: {
    fields () {
      return [{
        name: 'fullName',
        title: this.$t('tables.headings.name'),
        sortField: 'fullName',
        width: '25%',
      }, {
        name: 'email',
        title: this.$t('tables.headings.permissions'),
        width: '30%',
      }, {
        name: 'country',
        title: this.$t('tables.headings.country'),
        sortField: 'country',
        width: '25%',
      }, {
        name: '__slot:actions',
        dataClass: 'text-right',
      }]
    },
  },
  methods: {
    getStarMessage (user) {
      const actionName = user.starred ? this.$t('tables.unstar') : this.$t('tables.star')
      return `${actionName} ${user.fullName}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
  },
}
</script>

<style lang="scss">
.chart-widget {
  .va-card__body {
    height: 550px;
  }
}
</style>
