<template>
  <div class="form-elements">
    <div class="row">
      <div class="flex xs12">
        <div class="flex xs12">
            <va-card :title="$t('forms.inputs.title')">
            <form>
                <div class="row">
                <div class="flex md4 sm6 xs12">
                    <va-input
                    v-model="simple"
                    placeholder="Ingrese nombre"
                    />
                </div>
                <div class="flex md4 sm6 xs12">
                    <va-input
                    v-model="simple"
                    type="email"
                    label="Email (Validated with success)"
                    success>
                    </va-input>
                </div>
                <div class="flex md4 sm6 xs12">
                    <va-input
                    v-model="clearableText"
                    placeholder="Input With Clear Button"
                    removable
                    />
                </div>
                <div class="flex md4 sm6 xs12">
                    <va-input
                    v-model="wrongEmail"
                    type="email"
                    label="Email (Validated)"
                    error
                    :error-messages="errorMessages">
                    </va-input>
                </div>
                <div class="flex md4 sm6 xs12">
                    <va-input
                    v-model="withDescription"
                    placeholder="Text Input (with description)"
                    :messages="messages"
                    />
                </div>
                </div>
            </form>
            </va-card>
        </div>
      </div>
    </div>
    </div>
</template>
