<template>
  <div class="form-elements">
    <div class="row">
      <div class="flex xs12">
        <div class="flex xs12">
            <va-card :title="$t('Roles')">
            <form>
                <div class="row">
                    <div class="flex md4 sm6 xs12">
                        <va-input
                        v-model="simple"
                        placeholder="Ingrese nombre"
                        />
                    </div>                
                    <div class="flex md4 sm6 xs12">
                        <va-input
                        v-model="withDescription"
                        placeholder="Ingrese Descripcion"
                        :messages="messages"
                        />
                    </div>
                    <div class="flex md4 sm6 xs12">
                        <va-button color="info" >Guardar roles</va-button>
                    </div>
                </div>
            </form>
            </va-card>
        </div>
      </div>
    </div>
    </div>
</template>
