<template>
  <div class="form-elements">
    <div class="row">
      <div class="flex xs12">
            <va-card :title="$t('forms.inputs.titleUser')">
            <form action="">
                <div class="row">
                    <div class="flex md6 sm6 xs12">
                        <va-input
                        v-model="insert.name"
                        placeholder="Ingrese nombre"
                        />
                    </div>
                    <div class="flex md6 sm6 xs12">
                        <va-input
                        v-model="insert.email"
                        type="email"
                        label="Email (Validated with success)"
                        >
                        </va-input>
                    </div>
                    <div class="flex md6 sm6 xs12">
                        <va-select
                        :label="$t('forms.selects.roles')"
                        v-model="insert.rol"
                        :options="results">
                        </va-select>
                    </div>
                    <div class="flex md6 sm6 xs12">
                        <va-input
                        v-model="insert.psw"
                        placeholder="Ingrese contraseña"
                        />
                    </div>
                    <div class="flex md12 sm12 xs12">
                        <va-button color="info" @click="insertItem" type="button" >Guardar usuario</va-button>
                    </div>
                </div>
            </form>
            </va-card>
        </div>
      </div>
    </div>
</template>
<script>

import Pagination from '@/components/Pagination'

export default {
  
  data () {
    return {
      info: null,
      results: [],
      insert: {
        name:null,
        email:null,
        rol:null,
        psw:null
      }
      
    }
  },
  created(){
    this.getResults()
  },
  methods: {
    deleteItem(id){
      alert(id)
    },
    getStarMessage (user) {
      const actionName = user.starred ? this.$t('tables.unstar') : this.$t('tables.star')
      return `${actionName} ${user.fullName}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
    insertItem() {
            
      this.loading = true
      let url = `users/register`
      this.orden=this.orden-this.rest
      let insertTable = {
        name:this.insert.name,
        email:this.insert.email,
        password:this.insert.psw,
        c_password:this.insert.psw,
        role:this.insert.rol
      }
      console.log(insertTable)
      

      axios.post(url, insertTable ).then((insertData) => {
                
        this.response = true
        this.loading = false
        this.$bus.$emit('updatePagination')
      }).catch((err) => {
        console.log(err);
        this.loading = false
      })
    },
    update(){

        let url = 'users/1'
        
        let toUpdate = {
            name:this.results.name,
            email:this.results.email,
            rol_id:this.selectRole
        }

        console.log(toUpdate)
        axios.post(url,toUpdate).then((res)=> {
            console.log(res)
        })
    },
    getResults(){

        this.loading = true
        let url = `roles`
        axios
        .get(url)
        .then((res) => {
                let results = res.data.data
                this.results = results.map((item) => {
                    return item.name
                })
                console.log(this.results)
                this.pagination = res.data.pagination

                this.loading = false
        })
        .catch((err) => {
                console.log(err)
                this.loading = false
        })
    },
  },

}
</script>
