<template>
<form @submit.prevent="onsubmit">
  <va-input
    v-model="form.email"
    type="email"
    :label="$t('auth.email')"
    :error="!!errors.email.length"
    :error-messages="errors.email"
  />

  <va-input
    v-model="form.password"
    type="password"
    :label="$t('auth.password')"
    :error="!!errors.password.length"
    :error-messages="errors.password"
  />

  <va-notification v-show="errors.credentials"  color="danger" closeable>
    {{ $t('auth.credentialsError') }}
  </va-notification>

  <div class="auth-layout__options d-flex align--center justify--space-between">
    <va-checkbox v-model="keepLoggedIn" class="mb-0" :label="$t('auth.keep_logged_in')"/>
    <router-link class="ml-1 link" :to="{name: 'recover-password'}">{{$t('auth.recover_password')}}</router-link>
  </div>

  

  <div class="d-flex justify--center mt-3">
    <va-button type="submit" class="my-0">{{ $t('auth.login') }}</va-button>
  </div>
</form>
</template>

<script>

import {login} from '@/app/auth'

export default {
  name: 'login',
  data () {
    return {
      form:{
        email:'abel.sierra@tars.dev',
        password:'comisiones.dev'
      },      
      keepLoggedIn: false,
      errors:{
        email: [],        
        password: [],
        credentials: false,
      }
    }
  },
  computed: {
    formReady () {
      return !this.errors.email.length && !this.errors.password.length
    },
  },
  methods: {
    onsubmit () {
      this.errors.email = this.form.email ? [] : ['Email is required']
      this.errors.password = this.form.password ? [] : ['Password is required']
      
      
      if (this.formReady) {
        
        let app = this

        axios
        .post('login',this.form)
        .then((res) => {
            
            login(res.data.message.token)
            sessionStorage.setItem('_current_user_name',res.data.data.name)
            sessionStorage.setItem('_current_user_id',res.data.data.id)
            axios
            .get('users/'+res.data.data.id)
            .then((res2) => {
              
                sessionStorage.setItem('_current_user_rol',res2.data.data.roles[0].name)
            })
            .catch((err2) => {
                console.log(err2)

                this.loading = false
            })

            //sessionStorage.setItem('_current_user_rol',res.data.data.rol.name)

            

            let redirect = this.$route.query.redirect

            if (redirect) {
                this.$router.push(redirect)
            } else {
                this.$router.push({name: 'dashboard'})
            }
        })
        .catch((error) => {
          
            this.errors.credentials = true
            
            setTimeout(function(){
                app.errors.credentials = false
            },3000)
        })
      }


      
    },
  },
}
</script>

<style lang="scss">
</style>
