<template>
  <div class="charts">
    <div class="row">
      <div class="flex xs12">
        <va-card :title="$t('Profile')">
          <div class="row align--center">
            <div class="flex xs12 md6">
              <va-input
                :value="term"
                :placeholder="$t('tables.searchByNameProfile')"
                @input="search" 
                >
                <va-icon name="fa fa-search" slot="prepend" />
              </va-input>
            </div>

            <div class="flex xs12 md3 offset--md3">
              <va-button :to="{ name: 'addProfile' }" color="info" icon="entypo-user-add"> Agregar usuario</va-button>
              
            </div>
          </div>
          <va-data-table
            :fields="fields"
            :data="users"
            :per-page="5"
          >
            <template slot="actions" slot-scope="props">
              <va-popover :message="`${$t('tables.edit')} ${props.rowData.fullName}`" placement="top">
                <va-button flat small color="gray" icon="fa fa-pencil" />
              </va-popover>

              <va-popover :message="`${$t('tables.delete')} ${props.rowData.fullName}`" placement="top">
                <va-button flat small color="gray" icon="fa fa-trash" />
              </va-popover>
            </template>
          </va-data-table>
        </va-card>
      </div>
    </div>
  </div>
</template>

<script>
import users from '../../../data/users.json'

export default {
  data () {
    return {
      users: users.slice(),
    }
  },
  computed: {
    fields () {
      return [{
        name: 'fullName',
        title: this.$t('tables.headings.name'),
        sortField: 'fullName',
        width: '25%',
      }, {
        name: 'email',
        title: this.$t('tables.headings.email'),
        width: '30%',
      }, {
        name: 'country',
        title: this.$t('tables.headings.profile'),
        sortField: 'country',
        width: '25%',
      }, {
        name: '__slot:actions',
        dataClass: 'text-right',
      }]
    },
  },
  methods: {
    getStarMessage (user) {
      const actionName = user.starred ? this.$t('tables.unstar') : this.$t('tables.star')
      return `${actionName} ${user.fullName}`
    },
    getStarColor (user) {
      return user.starred ? 'primary' : 'gray'
    },
    star ({ id }) {
      const i = this.users.findIndex(user => user.id === id)
      this.users[i].starred = !this.users[i].starred
    },
  },
}
</script>

<style lang="scss">
.chart-widget {
  .va-card__body {
    height: 550px;
  }
}
</style>
