<template>
    <div class="flex md12">
        <!--//Forms Base-->
        <form action="">
            <div class="grid row">
                <div class="flex md6 sm12">
                    <div class="grid row">
                        <label for="producto" class="flex md3 sm12">Producto:</label>
                        <div class="flex md9 sm12">
                            <va-select v-model="selectProduct" multiple textBy="description"
                            :options="productLists"/>
                        </div>
                    </div>
                </div>
                <div class="flex md6 sm12">
                    <div class="grid row">
                        <label for="perfil" class="flex md5 sm12">Intensidad de horas:</label>
                        <div class="flex md7 sm12">
                            <va-select v-model="selectProfile"
                            :options="profileList" id="perfil"/>
                        </div>
                    </div>
                </div>
                <div class="flex md6 sm12">
                    <div class="grid row">
                        <label for="base" class="flex md3 sm12">Base:</label>
                        <div class="flex md9 sm12">
                            <va-input type="number" v-model="cambase"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Button insert in table Base-->
            <div class="flex md12 align-right">
                <va-button color="info" @click="ingresar" type="button">{{ $t('Insertar fila') }}</va-button>

            </div>
        </form>


        <div class="mx-2 mb-5">
            <hr>
        </div>

        <!--//Tables-->
        <va-card class="card-tab">
            <Pagination :uri="uri" :columns="fields">

            </Pagination>
            <!--//Button Delete-View-Save-->  
            <template>
                <div class="grid row">
                    <div class="flex md6">
                        <va-popover :message="`${$t('Selecciona para eliminar')}`" placement="top">
                            <va-button flat small color="gray" icon="fa fa-trash" @click="showDelete = true"/>
                        </va-popover>
                        <va-popover :message="`${$t('Selecciona para ver')}`" placement="top">
                            <va-button flat small color="gray" icon="fa fa-eye" />
                        </va-popover>
                    </div>
                    <div class="flex md6 align-right">
                        <va-button color="success">{{ $t('Guardar') }}</va-button>

                    </div>
                </div>
            </template>
        </va-card>

        <!--//Modals Edit-->
        <va-modal v-model="showEdit" size="small" 
        :title=" $t('Editar Base')" :okText="$t('Guardar')"
        :cancelText="$t('Cancelar')">
            <div class="flex md12 sm12">
                <div class="grid row">
                    <label for="base" class="flex md3 sm12 mt-2">Base:</label>
                    <div class="flex md9">
                        <va-input type="number" id="base"/>
                    </div>
                </div>
            </div>
        </va-modal>

        <!--//Modals Delete-->
        <va-modal v-model="showDelete" size="small" 
        :title=" $t('Editar Producto')" :okText="$t('Si')"
        :message=" $t('Estas seguro que deseas eliminar este producto?') " 
        :cancelText="$t('No')">
        </va-modal>
    </div>

</template>

<script>
import Products from '@/data/Products'
import Profile from '@/data/Profile'
import methodolys from '@/data/methodolys.json'
import Pagination from '@/components/Pagination2'

export default {
    name: 'baseCampaign',
    props:{
      campanna:{
        type:Number,
        required:true
      }
    },
    components: {
      Pagination
    },
    data() {
        return {
            uri:'base-campaign/'+this.campanna,
            selectProduct: [],
            selectProfile: [],
            productList: Products,
            profileList: Profile,
            productLists:[],
            methodolys: methodolys.slice(),
            showEdit: false,
            showDelete: false,
            cambase:0
        }
    },
    computed: {
        fields () {
            return [{
                name: '__slot:select',
            }, {
                field: 'horas',
                label: this.$t('Intensidad de horas'),
                width: '20%'
            }, {
                field: '',
                label: this.$t('Productos de campaña'),
                width: '40%'
            }, {
                field: 'base',
                label: this.$t('Base'),
                width: '30%'
            }]
        },
        selected () {
            return this.methodolys.filter(methodoly => methodoly.checked)
        }
    },
    created(){
        this.getResultsProductCamping()
        this. getResultsp()
    },
    methods:{
        select (methodoly) {
            const idx = this.methodolys.findIndex(u => u.id === methodoly.id)
            this.methodolys[idx].checked = !this.methodolys[idx].checked
        },
        ingresar(){
            
            let url = 'basetables'
            let arr=[]
            
            for(var i=0;this.selectProduct.length>i;i++){
                let toInsert = {
                    user_id:this.selectProduct[i].id
                }
               arr.push(this.selectProduct[i].id)
            }
            console.log(arr);
          let toInsert = {
            user_id:4,
            confcampaign_id:this.campanna,
            estado:"ABIERTO",
            //horas:this.selectProfile,
            base:this.cambase,
            array:arr
          }
           console.log(toInsert )
           axios.post(url,toInsert).then((res)=> {
                console.log(res)
           })
        },
        getResultsp(){

            
            let url = `base-campaign/`
            let dato=`1`
            axios
            .get(url+dato)
            .then((res) => {
                 
               console.log(res.data.data)
                    
                
            })
            .catch((err) => {
                console.log(err)

                this.loading = false
            })
        },
        deleteItem(id){
            this.$swal({
                title: 'Estas seguro de eliminar este registro ?',
                text: "¡No podrás revertir esto!!",
                type: 'question',
                customClass: 'bg-body',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success font-weight-light',
                cancelButtonClass: 'btn btn-danger font-weight-light',
                confirmButtonColor: '#53D190',
                cancelButtonColor: '#F65F6E',
                confirmButtonText: '¡Sí, bórralo!'
            }).then((result) => {
                if (result.value) {
                    axios.delete(`${this.uri}/${id}`).then(response => {  
                                            
                        this.rows = this.rows.filter(item => item.id != id)

                        this.$swal({
                            
                            title: 'Borrado!',
                            text: response.data.message,
                            type: 'success',
                            customClass: 'bg-body rounded-0',
                            confirmButtonClass: 'btn btn-primary font-weight-light',
                        })
                    }).catch((err) => {
                        console.log(err);
                        this.loading = false
                    })
                }
            })
        },
        
        getResultsProductCamping(){

            this.loading = true
            let url = `products-campaign/`
            let dato=`1`
            axios
            .get(url+dato)
            .then((res) => {
                 
                for(let i=0;res.data.data.length>i;i++){
                    
                    let url2 = `products/`+res.data.data[i].product_id
                    axios
                    .get(url2)
                    .then((res2) => {
                        console.log(res2.data.data)
                       let productListss = res2.data.data
                       this.productLists.push({id:productListss.id,description:productListss.nombre}) 
                      
                    })
                    .catch((err2) => {
                        console.log(err2)
                        this.loading = false
                    })

                }
               
                this.loading = false
            })
            .catch((err) => {
                console.log(err)

                this.loading = false
            })
        },
    }
}
</script>

<style>
    
</style>