<template>
    <div class="flex md12">
        <!--//Forms Methodology-->
        <form action="">
            <div class="grid row">
                <div class="flex md4 sm12">
                    <div class="grid row">
                        <label for="productList" class="flex md4 sm12 mt-2">Productos:</label>
                        <div class="flex md8 sm12">
                            
                            <va-select v-model="selectProduct" multiple textBy="nombre"
                            
                            :options="productList" id="productList" />
                        
                        </div>
                    </div>
                </div>
                <div class="flex md4 sm12">
                    <div class="grid row">
                        <label for="minimo" class="flex md5 sm12 mt-2" style="text-align:center">Valor mínimo:</label>
                        <div class="flex md7 sm12">
                            <va-input type="number" id="minimo" v-model="insert.minimo"/>
                        </div>
                    </div>
                </div>
                <div class="flex md4 sm12">
                    <div class="grid row">
                        <label for="valor" class="flex md5 sm12 mt-2" style="text-align:center">Valor a pagar:</label>
                        <div class="flex md7 sm12">
                            <va-input type="number" id="valor" v-model="insert.valor"/>
                        </div>
                    </div>
                </div>
                <div class="flex md5 sm12">
                    <div class="grid row">
                        <label for="profileList" class="flex md6 sm12 mt-2">Intensidad de horas:</label>
                        <div class="flex md6 sm12">
                            <va-select v-model="insert.horas" textBy="horas"
                            :options="profileList" id="profileList"/>
                        </div>
                    </div>
                </div>
                <div class="flex md4 sm12">
                    <div class="grid row">
                        <label for="maximo" class="flex md5 sm12 mt-2" style="text-align:center">Valor máximo:</label>
                        <div class="flex md7 sm12">
                            <va-input type="number" id="maximo" v-model="insert.maximo"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Button insert in table Methodology-->
            <div class="flex md12 align-right">
                <va-button color="info" @click.prevent="insertItem()">{{ $t('Insertar fila') }}</va-button>
            </div>
        </form>
        <!--//Toast confirm insert row-->
        <div class="mb-3" v-if="response">
            <va-notification closeable>
                {{ $t('Piso insertado exitosamente!') }}
            </va-notification>
        </div>
        <!--//hr-->
        <div class="mx-2 mb-5">
            <hr>
        </div>

        <!--//Table-->
        <va-card class="card-tab">
            <!--//Data table and button edit-->
            <Pagination :uri="uri" :columns="fields">

            </Pagination>
            <!--//Button Delete-save-view-->
            <template>
                <div class="grid row">
                    <div class="flex md6">
                        <va-popover :message="`${$t('Selecciona para ver')}`" placement="top">
                            <va-button flat small color="gray" icon="fa fa-eye" />
                        </va-popover>
                    </div>
                    
                    <div class="flex md6 align-right">
                        <va-button color="success">{{ $t('Guardar') }}</va-button>
                    </div>
                </div>
            </template>
        </va-card>

        <!--//Modals Edit-->
        <va-modal v-model="showEdit" :title=" $t('Editar Metodo')" :okText="$t('Guardar')"
        size="large" :cancelText="$t('Cancelar')">
            <div class="grid row">
                <label for="minimo" class="flex md4 sm12 mt-2">Mínimo:</label>
                <div class="flex md8 sm12">
                    <va-input type="number" id="minimo"/>
                </div>
            </div>
            <div class="grid row">
                <label for="maximo" class="flex md4 sm12 mt-2">Máximo:</label>
                <div class="flex md8 sm12">
                    <va-input type="number" id="maximo"/>
                </div>
            </div>
            <div class="grid row">
                <label for="Valor" class="flex md4 sm12 mt-2">Valor:</label>
                <div class="flex md8 sm12">
                    <va-input type="number" id="Valor"/>
                </div>
            </div>
        </va-modal>
    </div>

</template>

<script scoped>
import Pagination from '@/components/Pagination'

export default {
    name: 'methodology',
    props:{
      campanna:{
        type:Number,
        required:true
      }
    },
    components: {
      Pagination
    },
    data() {
        return {
            ides:true,
            uri:'coordinadorfloors',
            productList: [],
            profileList: [],
            selectProduct: [],
            showEdit: false,
            rest:0,
            insert: {
                minimo: null,
                maximo: null,
                valor: null,
                horas: [],
                orden: null,
            },
            response: false,
            
        }
    },
    computed: {
        isIdes(){
            return this.ides
        },
        fields () {
            return [{
            name: '__slot:select',
            }, {
                field: 'orden',
                label: this.$t('Pisos'),
                width: '10%'
            }, {
                field: 'horas',
                label: this.$t('Int. de horas'),
                width: '10%'
            }, {
                field: 'estado',
                label: this.$t('Productos de campaña'),
                width: '40%'
            }, {
                field: 'minimo',
                label: this.$t('Valor mínimo'),
                width: '10%'
            }, {
                field: 'maximo',
                label: this.$t('Valor máximo'),
                width: '10%'
            }, {
                field: 'valor',
                label: this.$t('Valor a pagar'),
                width: '10%'
            }]
        }
    },
    created(){
        
    },
    mounted(){
        this.getTables()
        this.getProductSelected();
        this.getHourSelected();
        
    },
    methods:{
        getProductSelected() {
            this.loading = true
            let urlProductCampaing = `products-campaign/`
            let Params = this.campanna
            this.campanna

            axios.get(urlProductCampaing + Params)
            .then((respArrayProduct) => {
                let resultData = respArrayProduct.data['data']
                this.productList = resultData
                this.loading = false
            })
            .catch((err) => {
                console.log(err)
                this.loading = false
            })
        },

        getHourSelected() {
            this.loading = true
            let url = `profiles`
        
            axios.get(url).then((respArrayProfile) => {
                let resultDataProfile = respArrayProfile.data['data']
                this.profileList = resultDataProfile
                this.loading = false
            })
            .catch((err) => {
                console.log(err)
                this.loading = false
            })
        },

        getTables() {
            let url = `coordinadorfloors`
            axios.get(url).then((dataApi) => {  
                let data = dataApi.data.data
                if(data.length===0){
                    this.ides=true
                }else{
                    this.ides=true
                }  
                this.orden = data.length
                this.orden ++
                
                
            })
        },

        insertItem() {
            
            this.loading = true
            let url = `coordinadorfloors`
            // let arrayProducts = []

            // for( var i=0; this.selectProduct.length>i; i++) {
            //     let hello = {
            //         array: this.selectProduct[i].id
            //     }
            //     arrayProducts.push(this.selectProduct[i].id)
            // }
            this.orden=this.orden-this.rest
            let insertTable = {
                minimo: this.insert.minimo,
                maximo: this.insert.maximo,
                valor: this.insert.valor,
                horas: this.insert.horas.horas,
                orden: this.orden,
                director_id: sessionStorage.getItem('_current_user_id'),
                estado: "ABIERTO",
                cfloors_has_confcampaign_id: this.campanna,
            }
            console.log(insertTable)
            axios.post(url, insertTable ).then((insertData) => {
                
                let dataInsert = insertData.data.data;
                this.response = true
                this.loading = false
                this.$bus.$emit('updatePagination')
                this.orden ++
            }).catch((err) => {
                console.log(err);
                this.loading = false
            })
        },

        deleteItem(id){
            this.$swal({
                title: 'Estas seguro de eliminar este registro ?',
                text: "¡No podrás revertir esto!!",
                type: 'question',
                customClass: 'bg-body',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success font-weight-light',
                cancelButtonClass: 'btn btn-danger font-weight-light',
                confirmButtonColor: '#53D190',
                cancelButtonColor: '#F65F6E',
                confirmButtonText: '¡Sí, bórralo!'
            }).then((result) => {
                if (result.value) {
                    axios.delete(`${this.uri}/${id}`).then(response => {  
                                            
                        this.rows = this.rows.filter(item => item.id != id)

                        this.$swal({
                            
                            title: 'Borrado!',
                            text: response.data.message,
                            type: 'success',
                            customClass: 'bg-body rounded-0',
                            confirmButtonClass: 'btn btn-primary font-weight-light',
                        })
                    }).catch((err) => {
                        console.log(err);
                        this.loading = false
                    })
                }
            })
        },
        
    }
}
</script>

<style>
    
</style>