<template>
    <va-card class="card-tab">
        <div class="grid row ma-3">
            <div class="flex md4 sm12">
                <va-button flat small color="gray" icon="fa fa-arrow-left">Atras</va-button>
            </div>
            <!--//Tabs-->
            <div class="flex md8 sm12 align-right tabContainer">
                <div class="btnContainer">
                    <button @click="component='methodology'">Metodologia</button>
                    <button @click="component='baseCampaign'">Base</button>
                    <button @click="component='telemarketer'">Telemercaderista</button>
                </div>
            </div>
            <!--//Components Methodology-Base-Telemarketer-->
            <component v-bind="[{campanna:campanna}]" :is="component"></component>
        </div>
    </va-card>
</template>

<script>
import methodology from '@/components/forms/Methodology.vue'
import telemarketer from '@/components/forms/Telemarketer.vue'
import baseCampaign from '@/components/forms/BaseCampaign.vue'

export default {
    components: { 
        methodology, telemarketer, baseCampaign,
    },
    props:{
      campanna:{
        type:Number,
        required:true
      }
    },
    data() {
        return {
            component: 'methodology'
        }
    }
}
</script>

<style>
  .fa-trash, .fa-pencil, .fa-eye, .fa-arrow-left{
    font-size: 20px;
  }
  .align-right{
    text-align: right;
  }
  .tabContainer .btnContainer button{
    width: 25%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
  }
  .tabContainer .btnContainer button:hover{
    background-color: #d7d4d4;
  }
    
</style>