<template>
    <div class="flex md12">
        <!--//Forms Telemarketer-->
        <form action="">
            <div class="grid row">
                <div class="flex md5 sm6">
                    <div class="grid row">
                        <label for="perfil" class="flex md6 sm12" style="text-align:center">Intensidad de horas:</label>
                        <div class="flex md6 sm12">
                            <va-select 
                            v-model="multiSearchableSelectModel"
                            :options="selectProfile" id="perfil"/>
                        </div>
                    </div>
                </div>

                <div class="flex md7 sm6">
                    <div class="grid row">
                        <label for="perfil" class="flex md4 sm12" style="text-align:center">Telemercaderistas:</label>
                        <div class="flex md8 sm12">
                            <va-select v-model="selectCountry" multiple  textBy="description"
                            :options="countryListss" id="perfil"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Button insert in table Telemarketer-->
            <div class="flex md12">
                <va-button color="info">{{ $t('Insertar fila') }}</va-button>
                <va-button color="info" @click="ingresar" type="button" >Guardar usuario</va-button>

            </div>
        </form>

        <div class="mx-2 mb-5">
            <hr>
        </div>
    

        <!--//Tables-->
        <va-card class="card-tab">
            <Pagination :actions="false" :uri="uri" :columns="fieldss"> 
        </Pagination>
        </va-card>
    </div>

</template>

<script>
import Profile from '@/data/Profile'
import CountriesList from '@/data/CountriesList'
import methodolys from '@/data/methodolys.json'
import Pagination from '@/components/Pagination2'

export default {
    name: 'telemarketer',
    props:{
      campanna:{
        type:Number,
        required:true
      }
    },
    components:{
      Pagination
    },
    data() {
        return {
            selectProfile: [],
            selectCountry: [],
            countryListss:[],
            profileList: Profile,
            countryList: CountriesList,
            methodolys: methodolys.slice(),
            showDelete: false,
            multiSearchableSelectModel: [],
            uri:'tmks-campaign/'+this.campanna,
            fieldss : [
                {      
                field: 'id',
                label: '#'
                },
                {
                field: 'user_id',
                label: 'Nombre Telemercaderista',
                render:(data,row) => {

                    console.log(row);
                    
                    let arr=[]
                    arr.push(data)
                    // console.log(arr)

                }
                },
            ],
        }
    },
    created(){
        this.getResults(),
        this.getResultsTelemercaderista()
    },
    computed: {
        fields () {
            return [{
                name: '__slot:select',
            }, {
                name: 'id',
                title: this.$t('#'),
                width: '10%'
            }, {
                name: 'horas',
                title: this.$t('Intensidad de horas'),
                width: '20%'
            }, {
                name: 'nombres',
                title: this.$t('Nombre completo'),
                width: '30%'
            }]
        },
        selected () {
            return this.methodolys.filter(methodoly => methodoly.checked)
        }
    },
    methods:{
        usersLogin(){
            let id=sessionStorage.getItem('_current_user_id')
            return id
        },
        select (methodoly) {
            const idx = this.methodolys.findIndex(u => u.id === methodoly.id)
            this.methodolys[idx].checked = !this.methodolys[idx].checked
        },
        async ingresar(){
            
            let url = 'tmks-campaign'
            let arr=[]

            
            
            for(var i=0;this.selectCountry.length>i;i++){
                let toInsert = {
                    user_id:this.selectCountry[i].id,
                    campaign_id:this.campanna
                }
                //console.log(toInsert)
               // arr.push({user_id:this.selectCountry[i].id,campaign_id:1})
                await axios.post(url,toInsert).then((res)=> {
                    console.log(res)
                })
            }
            this.$bus.$emit('updatePagination')
        },
        getResultsTable(){

            this.loading = true
            let url = `profiles`
            
            axios
            .get(url)
            .then((res) => {
                let selectProfile = res.data.data
                this.selectProfile = selectProfile.map((item) => { 
                    return item.horas.toString()
                })
                this.loading = false
            })
            .catch((err) => {
                console.log(err)
                this.loading = false
            })
        },
        getResults(){

            this.loading = true
            let url = `profiles`
            
            axios
            .get(url)
            .then((res) => {
                let selectProfile = res.data.data
                this.selectProfile = selectProfile.map((item) => {
                    return item.horas.toString()
                })
                this.loading = false
            })
            .catch((err) => {
                console.log(err)
                this.loading = false
            })
        },
        getResultsTelemercaderista(){

            this.loading = true
            let url = `hierarchies-sub/`
            let dato=`4`
            axios
            .get(url+dato)
            .then((res) => {
                for(let i=0;res.data.data.length>i;i++){
                    
                    let url2 = `users/`+res.data.data[i].sub_id
                    axios
                    .get(url2)
                    .then((res2) => {
                       let countryListss = res2.data.data
                       this.countryListss.push({id:countryListss.id,description:countryListss.name}) 
                    })
                    .catch((err2) => {
                        console.log(err2)
                        this.loading = false
                    })

                }
                this.loading = false
            })
            .catch((err) => {
                console.log(err)

                this.loading = false
            })
        },
    }
}
</script>

<style>
    
</style>